*{margin: 0;
    padding: 0;}
    
    div{
        width: 20vw;
        height: 20vh;
        background-color: aqua;
        float: left;
        position: absolute;
        transition: 3s;
    }
     
    .a{background-color: blue;
    bottom:40vh ;
left: 30vw;}
    
    .b{background-color: blueviolet;
    bottom: 40vh;
right: 30vw;}
    
    .c{background-color: crimson;
    left: 40vw;
    margin-top: 20vh;}
    
    .d{background-color: chartreuse;
    left: 40vw;
    bottom: 20vh;}
    
    .e{background-color: darkgreen;
        bottom:40vh ;
        left: 40vw;
}

.e:hover{
transition: 3s linear;
opacity: 0;


}
    